{{/* Header: daisyUI navbar */}}
<header class="navbar bg-base-200 shadow-sm">
    <div class="w-full max-w-[1440px] mx-auto px-6 md:px-12">
        {{/* Logo / Site title */}}
        <div class="flex-1">
            <a href="/" class="btn btn-ghost text-xl normal-case">
                {{ site.Title }}
            </a>
        </div>

        {{/* Desktop navigation */}}
        <div class="hidden md:flex">
            <ul class="menu menu-horizontal px-1 gap-1">
                <li><a href="/works/" class="btn btn-ghost btn-sm">Works</a></li>
                <li><a href="/events/" class="btn btn-ghost btn-sm">Exhibitions</a></li>
                <li><a href="/media/" class="btn btn-ghost btn-sm">Media</a></li>
            </ul>
        </div>

        {{/* Mobile dropdown menu */}}
        <div class="dropdown dropdown-end md:hidden">
            <div tabindex="0" role="button" class="btn btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/works/">Works</a></li>
                <li><a href="/events/">Exhibitions</a></li>
                <li><a href="/media/">Media</a></li>
            </ul>
        </div>
    </div>
</header>
