{{/* HTMLヘッド部分: メタタグ、タイトル、CSS/JS設定 */}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

{{/* Self-hosted Inter font: preload to avoid FOUT */}}
<link rel="preload" href="/fonts/inter-latin-400.woff2" as="font" type="font/woff2" crossorigin>

{{/* ページタイトル: ホームの場合はサイトタイトルのみ、それ以外はページタイトル | サイトタイトル */}}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{/* メタディスクリプション */}}
<meta name="description" content="{{ .Site.Params.description }}">

{{/* 検索エンジンにインデックスさせない */}}
<meta name="robots" content="noindex, nofollow">

{{/* カスタムJS（存在する場合） */}}
{{ partialCached "head/js.html" . }}
